.btn{
    background-color: rgb(154, 181, 212);
    color: antiquewhite;
    margin: 10px;
    padding: 10px;
    font-family: Poppins;
    font-weight: bold;   
    margin-top: 20px; 
}

 .tabel{
    background-color: antiquewhite;
    margin: 10px;
    border-style: solid;
    padding: 20px;
    font-family: Poppins;
    font-size: smaller;
 }

 .header{
     color: rgb(154, 181, 212);
     padding-bottom: 20px;
     font-size: larger;
 }

 .hsl{
     background-color: antiquewhite;
     border-style: unset;
     font-family: Poppins;
     font-weight: bold;   
 }

 .input{
    border-color: rgb(154, 181, 212);
    font-family: Poppins;
 }

 